/* ---------* import google font-------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans&display=swap');
/* ---------universal section-------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* -------common section start----------- */
body{
    background-color: rgb(239, 239, 235);
}
.btn-primary{
    width: 150px;
    height: 50px;
    background-color: rgb(245, 163, 9);
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    margin-bottom: 50px;
}

/* -------header section start------------ */
.header-section{
    background-color: rgba(255, 144, 14, 0.1); 
    height: 750px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    width: 100%;
    padding-top: 20px;
    margin: 0 auto;
}
.nav-brand{
    font-size: 20px;
    font-weight: bolder;
    color: #131313;
}
.nav-links{
    display: flex;
    column-gap: 50px;
    font-size: 15px;
    font-weight: bold;
    color: #424242;
}
.nav-links a{
    text-decoration: none;
}
.header-content{
    margin-top: 50px;
    text-align: center;
}
.header-content h1{
    font-size: 50px;
    color: #131313;
    font-weight: bolder;
}
.header-content P{
    margin: 20px 0;
}

.banner-area img{
    max-width: 1250px;
    width: 100%;
    height: 500px;
    margin: 0 140px;
}

/* -------header section end------------ */

/* -----------------card section start------------------------ */
.card-container{
    margin-top: 250px;
    display: flex;
    justify-content: center;
}
.all-card{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}
.card-text-area{
    margin: 250px 0 0 40px;
}
.card-text-area h2{
    font-size: 40px;
    font-weight: bolder;
}
.text-1{
    color: rgb(165, 165, 165) ;
}
.text-2{
    color: rgb(5, 5, 5) ;
}
.text-3{
    color: rgb(255, 137, 3);
}
.card-text-area p{
    font-size: 15px;
    color: rgb(57, 55, 55);
    margin: 20px 0;
}
/* -----------------card section  end------------------------ */

/* -----------------project section start------------------------ */
.project-section{
    margin: 90px 135px 0 135px;
    display: flex;
    column-gap: 90px;
}
.project-text-area{
    width: 50%;
    margin-top: 40px;
}
.project-image-area{
    width: 50%;
}
.project-image-area img{
    width: 600px;
}
.project-main-text{
    border-left: 4px solid rgb(255, 137, 3);
}
.project-heading{
    font-size: 35px;
    font-weight: bolder;
    margin-left: 18px;
}
.project-text{
    margin: 15px 0;
    font-size: 15px;
}
.child{
    margin-bottom: 25px;
    background-color: #ffff;
    padding: 20px;
    border-radius: 5px;
}
.child h2{
    font-size: 20px;
}
.child p{
    font-size: 15px;
    margin-top: 10px;
}
.btn-project{
    margin-left: 700px;
    margin-top: -50px; 
    width: 170px;
    height: 120px;
    background-color: rgb(245, 163, 9);
    color: white;
    font-size: 35px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
}
.project-span{
    font-size: 15px;
}
/* -----------------project section  end------------------------ */

/* -----------------counter-section start------------------------ */
.count-text{
    margin-left: 135px;
    margin-top: 90px;
}
.count-text h2{
    font-size: 25px;
    font-weight: bolder;
}
.count-text p{
    font-size: 15px;
    margin-top: 10px;
}
.counters-area{
    display: flex;
    justify-content: space-evenly;
    width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
}
.sigle-count{
    border: 1px solid rgb(224, 167, 60);
    width: 150px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.sigle-count:hover{
    transform: scale(1.5);
    background-color: aquamarine;
}
/* -----------------counter-section end------------------------ */

/* -----------------sponsors-section start------------------------ */
.sponsors-section{
    width: 1100px;
    margin: 0 auto;
    padding: 70px 0;
}
.sponsors-text{
    text-align: center;
}
.sponsors-text h1{
    font-size: 25px;
    font-weight: bolder;
    margin: 20px;
}
.sponsors-text p{
    font-size: 15px;
    margin: 20px;
}
.sponsors-list{
    display: flex;
    justify-content: space-between;
}
.sponsors-list img{
    width: 100px;
}
/* -----------------sponsors-section end------------------------ */  

/* -----------------bonus-section start------------------------ */
.bonus-section{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    column-gap: 40px;
    padding: 50px 0 60px 0;
}
.bonus-img img{
    width: 500px;
}
/* -----------------bonus-section end------------------------ */

/* -----------------footer-section start------------------------ */
.footer-section{
    background-color: rgb(222, 166, 62);
    padding: 40px 0;
    text-align: center;
    margin: 0 130px;
    border-radius: 10px;
}
/* -----------------footer-section end------------------------ */




/* -----------------Responsive area---------------------------- */
/* ------------------------------------------------------------ */
@media only screen and (max-width: 576px) {
    /* -------header section responsive start------------ */
    nav, .nav-links{
        flex-direction: column;
    }
    .nav-links a{
        margin-top: 10px;
    }
    .banner-area img{
        margin: 0;
    }
    /* -------header section responsive end------------ */


    /* -----------------card section responsive start------------------------ */
    .card-container{
        flex-direction: column;
    }
    .all-card{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 0;
    }
    .single-card img{
        width: 100%;
    }
    .card-text-area{
        margin: 0;
        text-align: center;
    }
    /* -----------------card section responsive end------------------------ */


    /* -----------------project section responsive start------------------------ */
      .project-section{
        flex-direction: column;
        margin: 0;
        column-gap: 0px;
      }
      .project-text-area{
        width: 100%;
      }
      .project-image-area{
        width: 100%;
      }
      .project-image-area img{
        width: 100%;
      }
      .btn-project{
        margin-left: 110px;
        margin-top: 25px;
      }
    /* -----------------project section responsive end------------------------ */


    /* -----------------counter-section responsive start------------------------ */
      .counters-area{
        flex-direction: column;
        row-gap: 20px;
      }
      .sigle-count{
        margin-left: 130px;
      }
    /* -----------------counter-section responsive end-------------------------- */ 


    /* -----------------sponsors-section responsive start-------------------------- */
      .sponsors-section{
        width: 100%;
      }
      .sponsors-list{
        flex-direction: column;
        row-gap: 35px;
      }
      .sponsors-list img{
        margin-left: 150px;
      }
    /* -----------------sponsors-section responsive end-------------------------- */


    /* -----------------bonus-section responsive start-------------------------- */
    .bonus-section{
        flex-direction: column;
        row-gap: 20px;
    }
    .bonus-text{
        width: 500px;
    }
    /* -----------------bonus-section responsive end-------------------------- */


    /* -----------------footer-section responsive start-------------------------- */
    .footer-section{
        background-color: rgb(239, 239, 235);
    }
    /* -----------------footer-section responsive end-------------------------- */
}
